/* header */

header section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header section .logo {
    max-width: 150px;
    margin-left: 30px;
}

header section div {
    margin: 10px;
    position: relative;
    right: 20px;
    width: 40%;
}

header section div form input {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 10px;
    color: #666;
    margin: auto;
}

header section div form i {
    position: absolute;
    z-index: 100;
    right: 10px;
    top: 10px;
    color: #666;
}

.fa-search {
    background-color: white;
    padding: 2px;
    /* border: black solid 1px; */
}

.icon-top {
    margin: 0px 2px;
}

.compra-tarjeta {
    text-align: center;
}

/* Main */

main {
    background-color: #ebebeb;
    padding: 24px;
}

/* footer */

footer {
    text-align: center;
    padding: 24px;
}

.icon-bottom {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}
.bottom-flex {
    display: flex;
}

footer div div {
    padding: 20px;
    margin-bottom: 48px;
}
