/* header */

h1 img {
    display: block;
    width: 90%;
    margin: auto;
}

.price {
    font-size: 18px;
}

.discount,
.description {
    font-size: 16px;
}

.icon-top {
    margin: 0px 2px;
}

.fa-search {
    background-color: white;
    padding: 2.4px;
    border: black solid 1px;
}

.burger-menu {
    color: white;
    background-color: #1259c3;
    margin: auto;
    width: 1em;
    padding: 8px;
    border-radius: 20%;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li {
    list-style: none;
}

#searchPrd {
    margin-left: 10%;
}

.compra-tarjeta {
    text-align: center;
}

/* Main */

main {
    background-color: #ebebeb;
    padding: 24px;
}

/* footer */

footer {
    text-align: center;
    padding: 24px;
}

.icon-bottom {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

footer p {
    margin-bottom: 48px;
}
