/* Main */

main {
    background-color: #ebebeb;
    padding: 24px;
    /* width: 90vw; */
    margin: auto;
}

main section {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

main section h2 {
    flex: 100%;
}

.wrapper {
    flex: 100%;
    margin: 10px 0px;
}

.wrapper article {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.article-box {
    background-color: white;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: inherit;
}

.article-box i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #39b54a;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

/* INLINE BLOCK */

.price {
    display: inline-block;
    min-width: 30%;
    padding-right: 10px;
    margin-bottom: 10px;
}

.discount {
    padding-right: 10px;
    width: 40%;
    color: #39b54a;
}

@media (min-width: 481px) {
    .description {
        display: block;
    }

    .wrapper {
        flex: 50%;
        padding: 7px;
    }
}

@media (min-width: 769px) {
    .description {
        visibility: hidden;
    }

    .wrapper:hover .description {
        visibility: visible;
    }
    .wrapper:hover article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .article-box i:hover {
        transform: rotate(-90deg);
    }
    .article-box i:hover {
        transition: transform 500ms;
    }

    .wrapper {
        flex: 25%;
    }
}
