/* Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; */

html,
body {
    font-family: "Roboto", sans-serif;
    background-color: #eac926;
}

img {
    width: 100%;
}

p {
    font-size: 12px;
}

h2 {
    font-size: 24px;
}
